
        body{
            overflow: hidden;
            color: white;
        }
        div#character{ /*l - 0  a- -20*/
            width: 20px;
            height: 20px;
            margin-left: 185px;
            margin-top: -220px;
            animation: change-color 1s infinite;
            display: flex;
        }
        @keyframes change-color{
            from{
                background-color: red;
            }
            to{
                background-color: darkblue;
            }
        }
        #cheg{
            
            width: 20px;
            height: 20px;
            background-color: coral;
            position: fixed;
            margin-top: 0px;
            margin-left: 0px;
            position:initial;
        }
        #field{
            border: 6px black solid;
            width: 400px;
            height: 400px;
        }
        @keyframes dracula{
            to{
                border-color: yellow;
                box-shadow: 5px 5px 5px 5px red;
            }
            from{
                border-color: purple;
                box-shadow: 5px 5px 5px 5px darkblue;
            }
        }